*{
    font-family: 'Press Start 2P', cursive;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: slategrey;
}

.start-section {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    height:80vh;
}

a {
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.game-play {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#main-enemy-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-around;
   width: 100%;
   margin-top:15px;
}

.enemy-container {
    height:200px;
}


.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a.start{
    display:block;
    background-color: Black;
    color: white;
    padding: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 15px;
}

a.attack {
    background-color: black;
    color: white;
    margin: 50px 350px 0 350px;
    user-select: none;
    box-shadow: 0 4px #999;

}

a.restart {
    display: none;
    background-color: red;
    margin: 20px 350px;
    box-shadow: 0 9px #999;
}

div.alive{
    margin: 2px;
    display: inline-block;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    background-size: cover;
    
}

div.dead {
    margin: 2px;
    display: inline-block;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url("./img/pokeball.gif")
}

p {
    font-size: 2em;
    text-align: center;

}
.hp-box{
    width: 80%;
    height: 20px;
    border: 1px solid black;
  }
  
.hp-bar {
    width:70%;
    height:20px;
    background-color:green;
}

.game-over {
    display: none;
    color: red;
    font-size: 100px;
    text-align: center;
}
