html {
    background-color: pink;
}

a {
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

#enemy-container {
    display: none;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-around;
   width: 100%;
}


a.attack {
    display:none;
    background-color: black;
    color: white;
}

a.start{
    display:block;
    background-color: grey;
    font: black;
}

div {
    margin: 2px;
    display: inline-block;
    border: 2px solid black;

}

p {
    font-size: 3em;
    text-align: center;
}

p.dead {
    background-color: red;
}